html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
   text-align: center;
   color: #393939;
    text-shadow :(1px 1px 0 rgba(white, 1));
}

form {
  
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
}
  
input {
     border:0.5;
     outline:0.5;
     padding: 1em;
     border-radius :8px;
     display: flex;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow : (0 1px 1px rgba(black, 0.1));
     resize: none;
  }
  
  #input-submit {
     border:0;
     outline:0;
     color: #393939; 
     background:#32e0c4;
     font-size:20px;
     font-weight:bold;
     cursor: pointer;
     max-width: 125px;
     margin-right: auto;
     margin-left: auto;
    
     
  }

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
#izq, #der {
   float: left;
   margin-top: 2%;
}
